
.search-box {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 50px 20px;
    position: relative; 
  }
  
  h1 {
    font-size: 2.5rem;
    color: #00796b;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .MuiTextField-root {
    width: 100%;
    max-width: 400px;
   
  }
  
  .MuiButton-root {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    background-color: #00796b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  
  
  /* Alert style */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translate(-50%, -20px);
    }
    10%, 90% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -20px);
    }
  }
  
  .popup-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
    z-index: 9999;
    animation: fadeInOut 3s ease forwards;
  }
  
  
  .MuiAlert-root {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
  
    .MuiTextField-root {
      width: 90%;
    }
  
    .MuiButton-root {
      width: 90%;
    }
  }
  